<%= form_with(model: authorlist, local: true) do |form| %>
  <% if authorlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(authorlist.errors.count, "error") %> prohibited this authorlist from being saved:</h2>

      <ul>
      <% authorlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th> <%= form.label :custcode, "Customer code" %> </th>
        <th> <%= form.label :dept, "Dept." %> </th>
        <th> <%= form.label :partcode, "Part code" %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= form.text_field :custcode, id: :authorlist_custcode %> </td>
        <td> <%= form.text_field :dept, id: :authorlist_dept %> </td>
        <td> <%= form.text_field :partcode, id: :authorlist_partcode %> </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
