<%= form_with(model: authorlist, local: true) do |form| %>
  <% if authorlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(authorlist.errors.count, "error") %> prohibited this authorlist from being saved:</h2>

      <ul>
      <% authorlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <table class="field">
      <thead>
        <tr>
          <th> <%= form.label :custcode, "Customer code" %> </th>
          <th> <%= form.label :dept, "Dept." %> </th>
          <th> <%= form.label :partcode, "Part code" %> </th>
          <th> <%= form.label :turns, "Turns" %> </th>
          <th> <%= form.label :seq, "Sequence" %> </th>
          <th> <%= form.label :priority, "Priority" %> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.text_field :custcode, id: :authorlist_custcode %> </td>
          <td> <%= form.text_field :dept, id: :authorlist_dept %> </td>
          <td> <%= form.text_field :partcode, id: :authorlist_partcode %> </td>
          <td> <%= form.number_field :turns, id: :authorlist_turns %> </td>
          <td> <%= form.number_field :seq, id: :authorlist_seq %> </td>
          <td> <%= form.number_field :priority, id: :authorlist_priority %> </td>
        </tr>
      </tbody>
    </table>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
