<p id="notice"><%= notice %></p>

<h1>Authorlists</h1>

<table class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Partcode</th>
      <th>Dept</th>
      <th>Custcode</th>
      <th>Turns</th>
      <th>Seq</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorlists.each do |authorlist| %>
      <tr>
        <td><%= authorlist.partcode %></td>
        <td><%= authorlist.dept %></td>
        <td><%= authorlist.custcode %></td>
        <td><%= authorlist.turns %></td>
        <td><%= authorlist.seq %></td>
        <td><%= authorlist.priority %></td>
        <td><%= link_to 'Show', authorlist %></td>
        <td><%= link_to 'Edit', edit_authorlist_path(authorlist) %></td>
        <td><%= link_to 'Destroy', authorlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authorlist', new_authorlist_path %>
