<p id="notice"><%= notice %></p>

<h2>Authorized</h2>

<table id="normal_dt"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Custcode</th>
      <th>Dept</th>
      <th>Partcode</th>
      <th>Turns</th>
      <th>Seq</th>
      <th>Priority</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @authorlists.each do |authorlist| %>
      <tr>
        <td><%= authorlist.custcode %></td>
        <td><%= authorlist.dept %></td>
        <td><%= authorlist.partcode %></td>
        <td><%= authorlist.turns %></td>
        <td><%= authorlist.seq %></td>
        <td><%= authorlist.priority %></td>
        <td><%= link_to 'Show', authorlist %></td>
        <td><%= link_to 'Edit', edit_authorlist_path(authorlist) %></td>
        <td><%= link_to 'Delete', authorlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Authorized', new_authorlist_path %>
