<p id="notice"><%= notice %></p>

<h2>Showing Authorized</h2>

<p>
  <strong>Custcode:</strong>
  <%= @authorlist.custcode %>
</p>

<p>
  <strong>Partcode:</strong>
  <%= @authorlist.partcode %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @authorlist.dept %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @authorlist.priority %>
</p>

<%= link_to 'Edit', edit_authorlist_path(@authorlist) %>
<%= link_to 'List', authorlists_path %>
