<%= form_with(model: onspecial, local: true) do |form| %>
  <% if onspecial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(onspecial.errors.count, "error") %> prohibited this onspecial from being saved:</h2>

      <ul>
      <% onspecial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <table>
      <thead>
        <tr>
          <th> <%= form.label :customer, "Customer code" %> </th>
          <th> <%= form.label :part, "Part code" %> </th>
          <th> <%= form.label :onspecials_start, "Start date" %> </th>
          <th> <%= form.label :onspecials_end, "End date" %> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.select :customer, @customer, {}, {:value => params[:customer], :id => "onspecial_customer", :onChange=> ('onSpecialLists()')} %> </td>
          <td> <%= form.select :part, @part, {}, {:value => params[:part], :id => "onspecial_part"} %> </td>
          <td> <%= form.date_select :onspecials_start, id: :onspecial_onspecials_start %> </td>
          <td> <%= form.date_select :onspecials_end, id: :onspecial_onspecials_end %> </td>
        </tr>
      </tbody>
    </table>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<p id= "customers" hidden> <%= @allcust %> </p>
<p id= "parts" hidden> <%= @allpart %> </p>
