<p id="notice"><%= notice %></p>

<h2>On Special</h2>

<table id="normal_dt" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Customer</th>
      <th>Part</th>
      <th>Start</th>
      <th>End</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @onspecials.each do |onspecial| %>
      <tr>
        <td><%= onspecial.customer %></td>
        <td><%= onspecial.part %></td>
        <td><%= display_date(onspecial.onspecials_start) %></td>
        <td><%= display_date(onspecial.onspecials_end) %></td>
        <td><%= link_to 'Show', onspecial %></td>
        <td><%= link_to 'Edit', edit_onspecial_path(onspecial) %></td>
        <td><%= link_to 'Delete', onspecial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New On Special', new_onspecial_path %>
