<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @onspecial.customer %>
</p>

<p>
  <strong>Part:</strong>
  <%= @onspecial.part %>
</p>

<p>
  <strong>Start:</strong>
  <%= display_date(@onspecial.onspecials_start) %>
</p>

<p>
  <strong>End:</strong>
  <%= display_date(@onspecial.onspecials_end) %>
</p>

<%= link_to 'Edit', edit_onspecial_path(@onspecial) %>
<%= link_to 'List', onspecials_path %>
