<%= form_with(model: dontcall, local: true) do |form| %>
  <% if dontcall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dontcall.errors.count, "error") %> prohibited this dontcall from being saved:</h2>

      <ul>
      <% dontcall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <table>
      <thead>
        <tr>
          <th> <%= form.label :customer, "Customer code" %> </th>
          <th> <%= form.label :shipto, "Ship to" %> </th>
          <th> <%= form.label :part, "Part code" %> </th>
          <th> <%= form.label :dontcalls_start %> </th>
          <th> <%= form.label :dontcalls_end %> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.select :customer, @customer, {}, {:value => params[:customer], :id => "dontcall_customer", :onChange=> ('shipToList()')} %> </td>
          <td> <%= form.select :shipto, @shipto, {}, {:value => params[:shipto], :id => "dontcall_shipto"} %> </td>
          <td> <%= form.select :part, @part, {}, {:value => params[:part]} %> </td>
          <td> <%= form.date_select :dontcalls_start, id: :dontcall_dontcalls_start %> </td>
          <td> <%= form.date_select :dontcalls_end, id: :dontcall_dontcalls_end %> </td>
        </tr>
      </tbody>
    </table>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<p id= "customers" hidden> <%= @allcust %> </p>
<p id= "shiptos" hidden> <%= @allshipto %> </p>
