<p id="notice"><%= notice %></p>

<h2>Showing Don't Sell</h2>

<p>
  <strong>Customer:</strong>
  <%= @dontcall.customer %>
</p>

<p>
  <strong>Ship To:</strong>
  <%= @dontcall.shipto %>
</p>

<p>
  <strong>Part:</strong>
  <%= @dontcall.part %>
</p>

<p>
  <strong>Start:</strong>
  <%= display_date(@dontcall.dontcalls_start) %>
</p>

<p>
  <strong>End:</strong>
  <%= display_date(@dontcall.dontcalls_end) %>
</p>

<%= link_to 'Edit', edit_dontcall_path(@dontcall) %>
<%= link_to 'List', dontcalls_path %>
