<%= form_with(model: altcsr, local: true) do |form| %>
  <% if altcsr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(altcsr.errors.count, "error") %> prohibited this altcsr from being saved:</h2>

      <ul>
      <% altcsr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th> <%= form.label :usualcsr, "CSR" %> </th>
        <th> <%= form.label :altcsrs_day, "Day" %> </th>
        <th> <%= form.label :custcode, "Customer" %> </th>
        <th> <%= form.label :shipto, "Ship to" %> </th>
        <th> <%= form.label :altcsr, "Replacement CSR" %> </th>
        <th> <%= form.label :altcsrs_start, "Start date" %> </th>
        <th> <%= form.label :altcsrs_end, "End date" %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= form.select :usualcsr, @csr_single, {}, {:value => params[:usualcsr], :id => "altcsr_usualcsr", :onChange=> ('altcsrLists()')} %> </td>
        <td> <%= form.select :altcsrs_day, @day, {}, {:value => params[:altcsrs_day], :id => "altcsr_altcsrs_day", :onChange=> ('altcsrLists()')} %> </td>
        <td> <%= form.select :custcode, @customer, {}, {:value => params[:custcode], :id => "altcsr_custcode", :onChange=> ('altcsrShiptos()')} %> </td>
        <td> <%= form.select :shipto, @shipto, {}, {:value => params[:shipto], :id => "altcsr_shipto"} %> </td>
        <td> <%= form.select :altcsr, @csr_single, {}, {:value => params[:altcsr]} %> </td>
        <td> <%= form.date_select :altcsrs_start, id: :altcsr_altcsrs_start %> </td>
        <td> <%= form.date_select :altcsrs_end, id: :altcsr_altcsrs_end %> </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<p id= "usualcsrs" hidden> <%= @allcsr %> </p>
<p id= "altcsrs_days" hidden> <%= @allday %> </p>
<p id= "customers" hidden> <%= @allcust %> </p>
<p id= "shiptos" hidden> <%= @allshipto %> </p>
