<%= form_with(model: altcsr, local: true) do |form| %>
  <% if altcsr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(altcsr.errors.count, "error") %> prohibited this altcsr from being saved:</h2>

      <ul>
      <% altcsr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usualcsr %>
    <%= form.text_field :usualcsr, id: :altcsr_usualcsr %>
  </div>

  <div class="field">
    <%= form.label :altcsr %>
    <%= form.text_field :altcsr, id: :altcsr_altcsr %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.date_select :start, id: :altcsr_start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.date_select :end, id: :altcsr_end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
