<%= form_with(model: altcsr, local: true) do |form| %>
  <% if altcsr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(altcsr.errors.count, "error") %> prohibited this altcsr from being saved:</h2>

      <ul>
      <% altcsr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <table>
      <thead>
        <tr>
          <th> <%= form.label :usualcsr, "CSR" %> </th>
          <th> <%= form.label :altcsr, "Replacement CSR" %> </th>
          <th> <%= form.label :start %> </th>
          <th> <%= form.label :end %> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.select :usualcsr, @csr, {}, {:value => params[:usualcsr]} %> </td>
          <td> <%= form.select :altcsr, @csr, {}, {:value => params[:altcsr]} %> </td>
          <td> <%= form.date_select :start, id: :altcsr_start %> </td>
          <td> <%= form.date_select :end, id: :altcsr_end %> </td>
        </tr>
      </tbody>
    </table>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
