<p id="notice"><%= notice %></p>

<h2>Alternate CSRs</h2>

<table id="normal_dt" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Usual CSR</th>
      <th>Alternate CSR</th>
      <th>Start</th>
      <th>End</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @altcsrs.each do |altcsr| %>
      <tr>
        <td><%= altcsr.usualcsr %></td>
        <td><%= altcsr.altcsr %></td>
        <td><%= display_date(altcsr.altcsrs_start) %></td>
        <td><%= display_date(altcsr.altcsrs_end) %></td>
        <td><%= link_to 'Show', altcsr %></td>
        <td><%= link_to 'Edit', edit_altcsr_path(altcsr) %></td>
        <td><%= link_to 'Delete', altcsr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Alt CSR', new_altcsr_path %>
