<p id="notice"><%= notice %></p>

<h2>Alternate CSRs</h2>

<%= form_with url: altcsrs_selected_path, local: true, method: 'get' do |f| %>
  <%= f.label(:param_csr, 'CSR:') %>
  <%= f.select(:param_csr, options_for_select(@csr, @selected_csr)) %>
  <%= f.label(:param_day, 'Day:') %>
  <%= f.select(:param_day, options_for_select(@day, @selected_day)) %>
  <%= f.label(:param_start, "Start date") %>
  <%= f.date_field :param_start, id: :altcsr_param_start, value: @param_start %>
  <%= f.label(:param_end, "End date") %>
  <%= f.date_field :param_end, id: :altcsr_param_end, value: @param_end %>
  <%= f.submit "Change" %>
<% end %>

<br>
<h3 id="althead"> Customer   Ship to   Alt CSR </h3>

<%= form_with url: altcsrs_multi_path, local: true, method: 'get' do |f| %>
  <% i = 0 %>
  <% @calllists.each do |calllist| %>
    <%= calllist.custcode %>
    <%= calllist.shipto %>
    <%= f.select(:altcsr_array[i], options_for_select(@csr)) %>
    <% i += 1 %>
    <br>
  <% end %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
<br>

<%= link_to 'List', altcsrs_path %>
