<p id="notice"><%= notice %></p>

<h2>Alternate CSRs</h2>

<%= form_with url: altcsrs_selected_path, local: true, method: 'get' do |f| %>
  <%= f.label(:param_csr, 'CSR:') %>
  <%= f.select(:param_csr, options_for_select(@csr, @selected_csr)) %>
  <%= f.label(:param_day, 'Day:') %>
  <%= f.select(:param_day, options_for_select(@day, @selected_day)) %>
  <%= f.label(:param_start, "Start date") %>
  <%= f.date_field :param_start, id: :altcsr_param_start, value: @param_start %>
  <%= f.label(:param_end, "End date") %>
  <%= f.date_field :param_end, id: :altcsr_param_end, value: @param_end %>
  <%= f.submit "Change" %>
<% end %>

<br>

<%= form_with url: altcsrs_multi_path, local: true, method: 'get' do |f| %>

<div id="listtable">
  <div id="listdiv">
    <table id="listtab" class="stripe" class="mytable" class="display" cellspacing="0" >
      <thead>
        <tr>
          <th> Customer </th>
          <th> Ship to </th>
          <th> Dept </th>
          <th> Alt CSR </th>
        </tr>
      </thead>
      <tbody>
        <% @calllists.each do |calllist| %>
          <tr>
            <td><%= calllist.custcode %></td>
            <td><%= calllist.shipto %></td>
            <td><%= calllist.dept %></td>
            <td><%= f.select "altcsr_list[]", options_for_select(@csr) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<%= f.submit "Submit" %>
<% end %>
<br>

<%= link_to 'Alt CSR List', altcsrs_path %>
