<p id="notice"><%= notice %></p>

<h1>Showing Alternate CSR</h1>

<p>
  <strong>Usual CSR:</strong>
  <%= @altcsr.usualcsr %>
</p>

<p>
  <strong>Alternate CSR:</strong>
  <%= @altcsr.altcsr %>
</p>

<p>
  <strong>Start:</strong>
  <%= @altcsr.altcsrs_start %>
</p>

<p>
  <strong>End:</strong>
  <%= @altcsr.altcsrs_end %>
</p>

<%= link_to 'Edit', edit_altcsr_path(@altcsr) %>
<%= link_to 'List', altcsrs_path %>
