<p id="notice"><%= notice %></p>

<h2>Showing Alternate CSR</h2>

<p>
  <strong>Usual CSR:</strong>
  <%= @altcsr.usualcsr %>
</p>

<p>
  <strong>Day:</strong>
  <%= @altcsr.altcsrs_day %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @altcsr.custcode %>
</p>

<p>
  <strong>Ship to:</strong>
  <%= @altcsr.shipto %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @altcsr.dept %>
</p>

<p>
  <strong>Alternate CSR:</strong>
  <%= @altcsr.altcsr %>
</p>

<p>
  <strong>Start:</strong>
  <%= display_date(@altcsr.altcsrs_start) %>
</p>

<p>
  <strong>End:</strong>
  <%= display_date(@altcsr.altcsrs_end) %>
</p>

<%= link_to 'Edit', edit_altcsr_path(@altcsr) %>
<%= link_to 'List', altcsrs_path %>
