<%= form_with(model: calllist, local: true) do |form| %>
  <% if calllist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calllist.errors.count, "error") %> prohibited this calllist from being saved:</h2>

      <ul>
      <% calllist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><strong>CSR Details</strong></legend>
    <p>
      <table>
        <thead>
          <tr>
            <th> <%= form.label :calllists_day, "Day" %> </th>
            <th> <%= form.label :csr, "CSR" %> </th>
            <th> <%= form.label :rep, "Rep" %> </th>
            <th> <%= form.label :called, "Called?" %> </th>
            <th> <%= form.label :ordered, "Ordered?" %> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= form.select :calllists_day, @day, {}, {:value => params[:calllists_day]} %> </td>
            <td> <%= form.text_field :csr, id: :calllist_csr %> </td>
            <td> <%= form.text_field :rep, id: :calllist_rep %> </td>
            <td> <%= form.check_box :called, id: :calllist_called %> </td>
            <td> <%= form.check_box :ordered, id: :calllist_ordered %> </td>
          </tr>
        </tbody>
      </table>
    </p>
  </fieldset>

  <fieldset>
    <legend><strong>Customer Details</strong></legend>
    <p>
      <table>
        <thead>
          <tr>
            <th> <%= form.label :custcode, "Customer code" %> </th>
            <th> <%= form.label :shipto, "Ship to" %> </th>
            <th> <%= form.label :dept, "Dept." %> </th>
            <!-- <th> <%= form.label :item, "Item" %> </th> -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= form.text_field :custcode, id: :calllist_custcode %> </td>
            <td> <%= form.text_field :shipto, id: :calllist_shipto %> </td>
            <td> <%= form.text_field :dept, id: :calllist_dept %> </td>
            <!-- <td> <%= form.text_field :item, id: :calllist_item %> </td> -->
          </tr>
        </tbody>
      </table>
    </p>
    <p>
      <table>
        <thead>
          <tr>
            <th> <%= form.label :phone, "Phone" %> </th>
            <th> <%= form.label :manager, "Manager" %> </th>
            <th> <%= form.label :notes, "Notes" %> </th>
            <!-- <th> <%= form.label :totalitems, "Total items" %> </th> -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= form.text_field :phone, id: :calllist_phone %> </td>
            <td> <%= form.text_field :manager, id: :calllist_manager %> </td>
            <td> <%= form.text_field :notes, id: :calllist_notes %> </td>
            <!-- <td> <%= form.text_field :totalitems, id: :calllist_totalitems %> </td> -->
          </tr>
        </tbody>
      </table>
    </p>
    <p>
      <table>
        <thead>
          <tr>
            <th> <%= form.label :callback_day, "Callback day" %> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= form.select :callback_day, @day, {}, {:value => params[:callback_day]} %> </td>
          </tr>
        </tbody>
      </table>
    </p>
  </fieldset>
  <p>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
