<%= form_with(model: calllist, local: true) do |form| %>
  <% if calllist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calllist.errors.count, "error") %> prohibited this calllist from being saved:</h2>

      <ul>
      <% calllist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day %>
    <%= form.text_field :day, id: :calllist_day %>
  </div>

  <div class="field">
    <%= form.label :custname %>
    <%= form.text_field :custname, id: :calllist_custname %>
  </div>

  <div class="field">
    <%= form.label :custcode %>
    <%= form.text_field :custcode, id: :calllist_custcode %>
  </div>

  <div class="field">
    <%= form.label :shipto %>
    <%= form.text_field :shipto, id: :calllist_shipto %>
  </div>

  <div class="field">
    <%= form.label :rep %>
    <%= form.text_field :rep, id: :calllist_rep %>
  </div>

  <div class="field">
    <%= form.label :csr %>
    <%= form.text_field :csr, id: :calllist_csr %>
  </div>

  <div class="field">
    <%= form.label :dept %>
    <%= form.text_field :dept, id: :calllist_dept %>
  </div>

  <div class="field">
    <%= form.label :item %>
    <%= form.text_field :item, id: :calllist_item %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :calllist_phone %>
  </div>

  <div class="field">
    <%= form.label :manager %>
    <%= form.text_field :manager, id: :calllist_manager %>
  </div>

  <div class="field">
    <%= form.label :totalitems %>
    <%= form.text_field :totalitems, id: :calllist_totalitems %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
