<p id="notice"><%= notice %></p>

<h1>Call List</h1>

<table class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Day</th>
      <th>Custcode</th>
      <th>Shipto</th>
      <th>Dept</th>
      <th>Csr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calllists.each do |calllist| %>
      <tr>
        <td><%= calllist.day %></td>
        <td><%= calllist.custcode %></td>
        <td><%= calllist.shipto %></td>
        <td><%= calllist.dept %></td>
        <td><%= calllist.csr %></td>
        <td><%= link_to 'Show', calllist %></td>
        <td><%= link_to 'Edit', edit_calllist_path(calllist) %></td>
        <td><%= link_to 'Delete', calllist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Call List', new_calllist_path %>
