<p id="notice"><%= notice %></p>

<h2>Call List</h2>

<table id="normal_dt" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Day</th>
      <th>Custcode</th>
      <th>Shipto</th>
      <th>Dept</th>
      <th>Manager</th>
      <th>Csr</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @calllists.each do |calllist| %>
      <tr>
        <td><%= calllist.calllists_day %></td>
        <td><%= calllist.custcode %></td>
        <td><%= calllist.shipto %></td>
        <td><%= calllist.dept %></td>
        <td><%= calllist.manager %></td>
        <td><%= calllist.csr %></td>
        <td><%= link_to 'Show', calllist %></td>
        <td><%= link_to 'Edit', edit_calllist_path(calllist) %></td>
        <td><%= link_to 'Delete', calllist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Call List', new_calllist_path %>

  <!-- <h2>Import Call Lists</h2> -->
    <!-- <%= form_tag import_calllists_path, multipart: true do %> -->
    <!-- <%= file_field_tag :file %> -->
    <!-- <%= submit_tag "Import" %> -->
  <!-- <% end %> -->
