<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @calllist.day %>
</p>

<p>
  <strong>Custname:</strong>
  <%= @calllist.custname %>
</p>

<p>
  <strong>Custcode:</strong>
  <%= @calllist.custcode %>
</p>

<p>
  <strong>Shipto:</strong>
  <%= @calllist.shipto %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @calllist.rep %>
</p>

<p>
  <strong>Csr:</strong>
  <%= @calllist.csr %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @calllist.dept %>
</p>

<p>
  <strong>Item:</strong>
  <%= @calllist.item %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @calllist.phone %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @calllist.manager %>
</p>

<p>
  <strong>Totalitems:</strong>
  <%= @calllist.totalitems %>
</p>

<p>
  <strong>Dontcall:</strong>
  <%= @calllist.dontcall %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @calllist.reason %>
</p>

<p>
  <strong>Startdc:</strong>
  <%= @calllist.startdc %>
</p>

<p>
  <strong>Enddc:</strong>
  <%= @calllist.enddc %>
</p>

<p>
  <strong>Special:</strong>
  <%= @calllist.special %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @calllist.starts %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @calllist.ends %>
</p>

<p>
  <strong>Altrep:</strong>
  <%= @calllist.altrep %>
</p>

<p>
  <strong>Startar:</strong>
  <%= @calllist.startar %>
</p>

<p>
  <strong>Endar:</strong>
  <%= @calllist.endar %>
</p>

<%= link_to 'Edit', edit_calllist_path(@calllist) %> |
<%= link_to 'Back', calllists_path %>
