<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @calllist.day %>
</p>

<p>
  <strong>Customer Name:</strong>
  <%= @calllist.custname %>
</p>

<p>
  <strong>Customer Code:</strong>
  <%= @calllist.custcode %>
</p>

<p>
  <strong>Ship To:</strong>
  <%= @calllist.shipto %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @calllist.rep %>
</p>

<p>
  <strong>CSR:</strong>
  <%= @calllist.csr %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @calllist.dept %>
</p>

<p>
  <strong>Item:</strong>
  <%= @calllist.item %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @calllist.phone %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @calllist.manager %>
</p>

<p>
  <strong>Totalitems:</strong>
  <%= @calllist.totalitems %>
</p>

<%= link_to 'Edit', edit_calllist_path(@calllist) %>
<%= link_to 'List', calllists_path %>
