<p id="notice"><%= notice %></p>

<h1>Showing Call List</h1>

<fieldset>
  <legend><strong>CSR Detail</strong></legend>
  <p>
    <strong>Day:</strong>
    <%= @calllist.day %>&emsp;&emsp;
    <strong>CSR:</strong>
    <%= @calllist.csr %>&emsp;&emsp;
    <strong>Rep:</strong>
    <%= @calllist.rep %>
  </p>
</fieldset>
<p>
</p>

<fieldset>
  <legend><strong>Customer Detail</strong></legend>
  <p>
    <strong>Customer Code:</strong>
    <%= @calllist.custcode %>&emsp;&emsp;
    <strong>Ship To:</strong>
    <%= @calllist.shipto %>&emsp;&emsp;
    <strong>Dept:</strong>
    <%= @calllist.dept %>&emsp;&emsp;
    <strong>Item:</strong>
    <%= @calllist.item %>
  </p>
  <p>
    <strong>Phone:</strong>
    <%= @calllist.phone %>&emsp;&emsp;
    <strong>Manager:</strong>
    <%= @calllist.manager %>&emsp;&emsp;
    <strong>Totalitems:</strong>
    <%= @calllist.totalitems %>
  </p>
</fieldset>
<p>
</p>

<%= link_to 'Edit', edit_calllist_path(@calllist) %>
<%= link_to 'List', calllists_path %>
