<h2 class="primary-logo">
</h2>
<nav class="">
    <ul>
        <span id="navbar">
            <span><%= link_to 'Authorized', '/authorlists' %></span>
            <span><%= link_to 'List', '/calllist/list' %></span>
            <span><%= link_to 'Maint', '/calllists' %></span>
            <span><%= link_to "Don't Sell", '/dontcalls' %></span>
            <span><%= link_to 'Specials', '/onspecials' %></span>
            <span><%= link_to 'Swap CSR', '/altcsrs' %></span>
            <span><a href="/">Home</a></span>
        </span>
    </ul>
</nav>
<br>
<h1 class="title">Retail Data Input
</h1>
<br>
